{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}


    {% block stylesheets %}
        <link href="/css/footerInner.css" rel="stylesheet">
        <style>
            label {
                position: relative;
                color: #6A7C94;
                font-weight: 400;
                height: 48px;
                line-height: 48px;
                margin-bottom: 40px;
                display: flex;
                flex-direction: row;
            }

            label > span {
                width: 150px;
            }

            .field {
                background: white;
                box-sizing: border-box;
                font-weight: 400;
                border: 1px solid #CFD7DF;
                border-radius: 24px;
                color: #32315E;
                outline: none;
                flex: 1;
                height: 48px;
                line-height: 48px;
                padding: 0 20px;
                cursor: text;
            }

            .field::-webkit-input-placeholder { color: #CFD7DF; }
            .field::-moz-placeholder { color: #CFD7DF; }

            .field:focus,
            .field.StripeElement--focus {
                border-color: #F99A52;
            }

            .button {
                float: left;
                display: block;
                background: #ffb03b;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #E57C45;
                color: white;
                border-radius: 24px;
                border: 0;
                margin-top: 20px;
                font-size: 17px;
                font-weight: 500;
                width: 100%;
                height: 48px;
                line-height: 48px;
                outline: none;
            }

            .button:hover
            {
                color : black;
                background: #E17422;
            }

            .button:focus {
                background: #EF8C41;
            }

            .button:active {
                background: #ffb03b;
            }

        </style>
    {% endblock %}


{% block body %}

    {% include 'navbar/index2.html.twig' %}

    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Paiement</h2>
                    <ol>
                        <li><a href="{{ path('index')}}#hero">Acceuil</a></li>
                        <li>Paiement</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs Section -->
        <section class="inner-page">
            <div class="container">

                <h3>Progression de la commande :</h3>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60</div>
                </div>


                <h1 class="mt-5 mb-5 text-center">Paiement de votre commande</h1>



                <form method="post" id="payment-form">

                    <label>
                        <span>Prénom :</span>
                        <input name="prenom" class="field" placeholder="Jane" required />
                    </label>
                    <label>
                        <span>Nom :</span>
                        <input name="nom" class="field" placeholder="Doe" required />
                    </label>
                    <label>
                        <span>Société :</span>
                        <input class="field" name="societe" placeholder="Bêtises et Volupthé" type="text" />
                    </label>
                    <label>
                        <span>Téléphone :</span>
                        <input class="field" name="telephone" placeholder="03 81 50 83 45" type="tel" required />
                    </label>
                    <label>
                        <span>Adresse :</span>
                        <input class="field" name="adresse" placeholder="Rue des Granges" type="text" required />
                    </label>
                    <label>
                        <span>Code postale :</span>
                        <input name="code" class="field" placeholder="25000" required/>
                    </label>
                    <label>
                        <span>Ville :</span>
                        <input name="ville" class="field" placeholder="Besançon" required />
                    </label>
                    <label>
                        <span>Livraison :</span>
                        <input type="date" id="start" name="livraison" class="field" min="{{ date }}" required>
                    </label>

                    <label>
                        <span>Carte bancaire :</span>
                        <div id="card-element" class="field"></div>
                    </label>
                    <button class="button">Payer <small>With by Stripe <i class='bx bxl-stripe' ></i></small></button>
                </form>

            </div>
        </section>
    </main>



{% endblock %}

 {% block javascripts %}
     <script>
         var delay = 500;
         $(".progress-bar").each(function(i){
             $(this).delay( delay*i ).animate( { width: $(this).attr('aria-valuenow') + '%' }, delay );

             $(this).prop('Counter',0).animate({
                 Counter: $(this).text()
             }, {
                 duration: delay,
                 easing: 'swing',
                 step: function (now) {
                     $(this).text(Math.ceil(now)+'%');
                 }
             });
         });
     </script>
     <script src="https://js.stripe.com/v3/"></script>
    <script>
    // Create a Stripe client.
    var stripe = Stripe('pk_test_51HEWz5LDGj5KeXGgk5GqlhnrvTh5Clr5X3t2gZheY6oRsfV9OFQmmoAaYeGa3T7p8Prn2TyOXaTCv4mU99dKLj1k001n8of7TD');

    var elements = stripe.elements({
        fonts: [
            {
                family: 'Open Sans',
                weight: 400,
                src: 'local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2")',
                unicodeRange: 'U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215',
            },
        ]
    });

    var card = elements.create('card', {
        hidePostalCode: true,
        style: {
            base: {
                iconColor: '#F99A52',
                color: '#32315E',
                lineHeight: '48px',
                fontWeight: 400,
                fontFamily: '"Open Sans", "Helvetica Neue", "Helvetica", sans-serif',
                fontSize: '15px',

                '::placeholder': {
                    color: '#CFD7DF',
                }
            },
        }
    });
    card.mount('#card-element');

    function setOutcome(result) {
        if (result.token) {
            // Use the token to create a charge or a customer
            // https://stripe.com/docs/charges
            stripeTokenHandler(result.token);
        } else if (result.error) {
            errorElement.textContent = result.error.message;
            errorElement.classList.add('visible');
        }
    }
    card.on('change', function(event) {
        setOutcome(event);
    });
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        var form = document.querySelector('form');
        stripe.createToken(card).then(setOutcome);
    });



    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
// Add Stripe Token to hidden input
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
// Submit form
        form.submit();
    }
</script>







 {% endblock %}

