{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}


    {% block stylesheets %}
        <link href="/css/footerInner.css" rel="stylesheet">
        <style>
            label {
                position: relative;
                color: #6A7C94;
                font-weight: 400;
                height: 48px;
                line-height: 48px;
                margin-bottom: 40px;
                display: flex;
                flex-direction: row;
            }

            label > span {
                width: 150px;
            }

            .field {
                background: white;
                box-sizing: border-box;
                font-weight: 400;
                border: 1px solid #CFD7DF;
                border-radius: 24px;
                color: #32315E;
                outline: none;
                flex: 1;
                height: 48px;
                line-height: 48px;
                padding: 0 20px;
                cursor: text;
            }

            .field::-webkit-input-placeholder { color: #CFD7DF; }
            .field::-moz-placeholder { color: #CFD7DF; }

            .field:focus,
            .field.StripeElement--focus {
                border-color: #F99A52;
            }

            .button {
                float: left;
                display: block;
                background: #ffb03b;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #E57C45;
                color: white;
                border-radius: 24px;
                border: 0;
                margin-top: 20px;
                font-size: 17px;
                font-weight: 500;
                width: 100%;
                height: 48px;
                line-height: 48px;
                outline: none;
            }

            .button:hover
            {
                color : black;
                background: #E17422;
            }

            .button:focus {
                background: #EF8C41;
            }

            .button:active {
                background: #ffb03b;
            }

        </style>
    {% endblock %}


{% block body %}

    {% include 'navbar/index2.html.twig' %}

    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Adresse</h2>
                    <ol>
                        <li><a href="{{ path('index')}}#hero">Acceuil</a></li>
                        <li>Adresse</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs Section -->
        <section class="inner-page">
            <div class="container">

                <h3>Progression de la commande :</h3>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60</div>
                </div>


                <h1 class="mt-5 mb-5 text-center">Adresse de livraison</h1>

                {% include ('navbar/flash.html.twig') %}


                <form method="post" id="payment-form">

                    <label>
                        <span>Prénom :</span>
                        <input name="prenom" class="field" placeholder="Jane" required />
                    </label>
                    <label>
                        <span>Nom :</span>
                        <input name="nom" class="field" id="nom" placeholder="Doe" required />
                    </label>
                    <label>
                        <span>Société :</span>
                        <input class="field" name="societe" placeholder="Bêtises et Volupthé" type="text" />
                    </label>
                    <label>
                        <span>Téléphone :</span>
                        <input class="field" name="telephone" placeholder="03 81 50 83 45" type="tel" required />
                    </label>
                    <label>
                        <span>Numero :</span>
                        <input class="field" name="numero" placeholder="79" type="number" required />
                    </label>
                    <label>
                        <span>Adresse :</span>
                        <input class="field" name="adresse" placeholder="Rue des Granges" type="text" required />
                    </label>
                    <label>
                        <span>Code postale :</span>
                        <input name="code" class="field" placeholder="25000" required/>
                    </label>
                    <label>
                        <span>Ville :</span>
                        <input name="ville" class="field" placeholder="Besançon" required />
                    </label>
                    <label>
                        <span>Livraison :</span>
                        <input type="date" id="start" name="livraison" class="field" min="{{ date }}" required>
                    </label>
                    <div class="class text-right">
                        <button id="card-button" class="btn" type="submit">Payer<small> With by Stripe <i class='bx bxl-stripe' ></i></small></button>
                    </div>
                </form>

            </div>
        </section>
    </main>



{% endblock %}

 {% block javascripts %}
     <script>
         var delay = 500;
         $(".progress-bar").each(function(i){
             $(this).delay( delay*i ).animate( { width: $(this).attr('aria-valuenow') + '%' }, delay );

             $(this).prop('Counter',0).animate({
                 Counter: $(this).text()
             }, {
                 duration: delay,
                 easing: 'swing',
                 step: function (now) {
                     $(this).text(Math.ceil(now)+'%');
                 }
             });
         });
     </script>
     <script src="https://js.stripe.com/v3/"></script>
    <script>
    // Create a Stripe client.



        let cardButton = document.getElementById('card-button');

        cardButton.addEventListener('click', () => {
            window.location = "content.html"
                        var data = {};
                        data['nom'] = $('#nom').val()
                        data['prenom'] = $('#prenom').val()
                        data['societe'] = $('#societe').val()
                        data['telephone'] = $('#telephone').val()
                        data['numero'] = $('#numero').val()
                        data['adresse'] = $('#adresse').val()
                        data['code'] = $('#code').val()
                        data['ville'] = $('#ville').val()
                        data['livraison'] = $('#livraison').val()
                        console.log(data)
                        $("#card-button").click(function () {
                            $.ajax({
                                url: "{{ path('webhook') }}",
                                type: 'POST',
                                data: data,
                            });

                        });

            });






</script>







 {% endblock %}

