{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublie{% endblock %}

{% block body %}
        <div class="container">
            <h1 class="titre mb-5 font-weight-normal">Mot de passe oublié</h1>

    {{ form_start(emailForm) }}


        {{ form_row(emailForm.email)}}

        <div class="text-right">
            <button type="submit" class="btn btn-primary mb-5 mt-3">Valider</button>
        </div>




        {{ form_end(emailForm) }}
        </div>

{% endblock %}