{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublie{% endblock %}

{% block body %}
        <div class="container">
            <h1 class="titre mb-5 font-weight-normal">Mot de passe oublie</h1>

        {{ form(emailForm) }}

        </div>

{% endblock %}