{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="titre mb-5 font-weight-normal">Entrez votre nouveau mot de passe</h1>

        {{form_start(form)}}
        {{form_row(form)}}
        <div>
            <button type="submit" class="btn btn-primary mb-5 mt-5">Valider</button>
        </div>
        {{form_end(form)}}



    </div>

{% endblock %}