{% extends 'base.html.twig' %}

{% block title %}Hello ResetPassMailController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="titre mb-3">Mot de passe oublié ?</h1>
    <p  class="mt-5">Demandez à réinitialiser votre mot de passe en renseignant votre email.</p>

    {{form_start(form)}}
    {{form_widget(form.email)}}
    <div class="class text-right">
    <button type="submit" class="btn btn-primary mt-3 mb-5">Valider</button>
    </div>
    {{form_end(form)}}

</div>
{% endblock %}
