{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->


        <section class="inner-page">
            <div class="container">
                <h1 class = mt-5>Inserer des images</h1>
                {{ form(imageForm) }}
                {{ form_widget(imageForm) }}
            </div>
        </section>



        <h1>Liste des images</h1>
        {% for plas in pla %}
            <img src="{{ vich_uploader_asset(plas, 'imageFile')|imagine_filter('carre') }}">
        {% endfor %}

    </main><!-- End #main -->














{% endblock %}
