{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class = mt-5>Inserer des images</h1>
    {{ form(imageForm) }}
    {{ form_widget(imageForm) }}
{% endblock %}
