{% block body %}


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('dashboard')}}">Tableau de bord</a>
            <a class="dropdown-item" href="{{ path('admin')}}">Gerer les utilisateurs</a>
            <a class="dropdown-item" href="{{ path('admin_image')}}">Ajouter/Supprimer les image</a>
            <a class="dropdown-item" href="">Ajouter/modifier/supprimer menu</a>
            <a class="dropdown-item" href="">Ajouter/modifier/supprimer composants du menu</a>
            <a class="dropdown-item" href="">Ajouter/modifier/supprimer boissons</a>
            <a class="dropdown-item" href="">Voir les commandes</a>
        </div>
    </div>


{% endblock %}


